.parallax {
    &-section {

        @media (#{$mobile}) {
            margin: 40px 0;
        }

        @media (#{$tablet}) {
            margin: 60px 0;
        }

        @media (#{$lg-desktop}) {
            margin: 80px 0;
            position: relative;

            &::after {
                content: '';

                background: {
                    image: url(../../public/frames/parallax-frames.png);
                    size: contain;
                    repeat: no-repeat;
                    position: right;
                }

                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                @include width-height(600px, 600px);
            }
        }

        background: {
            image: url(../../public/banners/banner-paralax.png);
            size: cover;
            position: center left;
            repeat: no-repeat;
            attachment: fixed;
        }
    }
}