form {
    &.parallax-form {
        position: relative;
        padding: 32px;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 12px;
            border: 3px solid $light-color-1;
            z-index: 2;
            @include width-height(100%, 100%);
        }

        &::before {
            top: -8px;
            right: -6px;
        }

        &::after {
            bottom: -8px;
            left: -6px;
        }

        .button-box {
            @include standard-flex(flex-end, center);

            .standard-button {
                padding: 12px 32px;
            }
        }
    }

    &.internal-pages-form {
        .input-box {
            input, textarea {
                background-color: $light-color-2;
            }

            &.off {
                input {
                    cursor: default;
                    opacity: .7;
                }
            }
        }

        .button-box {
            .standard-button {
                text-align: center;
                @include width-height(100%, auto);
            }
        }
    }

    .input-box {
        position: relative;
        z-index: 3;
        margin-bottom: 16px;
        @include width-height(100%, auto);

        input,
        textarea {
            padding: 12px;
            border: 0;
            outline: none;
            border-radius: 8px;
            resize: none;
            @include width-height(100%, auto);

            &::placeholder {
                color: $fonts-color;
            }
        }

        textarea {
            height: 120px;
        }
    }
}